<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemoTestSuite">
    <parameter name="validUsername" value="standard_user"/>
    <parameter name="validPassword" value="secret_sauce"/>
    <parameter name="invalidUsername" value="standard_Invaliduser"/>
    <parameter name="invalidPassword" value="secret_Invalidpwd"/>
    <test name="LoginTests">
        <classes>
            <class name="tests.SauceDemoTest"/>
        </classes>
    </test>
</suite>
